<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>纯金打造-京东-商品详情</title>
		<link rel="icon" href="/img/favicon.ico">
		<link rel="stylesheet" href="/css/index.css">
		<link rel="stylesheet" href="/css/list.css">
		<link rel="stylesheet" href="/css/details.css">
		<script src="/js/jquery-1.8.2.min.js"></script>
		<script src="/js/details.js"></script> 
	</head>
	<body>
		<!-- 容器 -->
		<div class='container container_logo'>
			<!-- 顶部广告图片 顶部页头 nav -->
			<div class='header' id='db_div'> 
				<div class='header_yt'>
					<div class='w1190'>
						<div class='fl'>
							<div class='yt_div_dq'>
								<span href="#">
									<i class='i_img'></i>
									<span>北京</span>
								</span>
								<div class='yt_div_dq_sy'>
									<ul> 
										<li>
											<a class='selected'>北京</a>
										</li>
										<li>
											<a>上海</a>
										</li>
										<li>
											<a>天津</a>
										</li>
										<li>
											<a>重庆</a>
										</li>
										<li>
											<a>河北</a>
										</li>
										<li>
											<a>山西</a>
										</li>
										<li>
											<a>河南</a>
										</li>
										<li>
											<a>辽宁</a>
										</li>
										<li>
											<a>吉林</a>
										</li>
										<li>
											<a>黑龙江</a>
										</li>
										<li>
											<a>内蒙古</a>
										</li>
										<li>
											<a>江苏</a>
										</li>
										<li>
											<a>山东</a>
										</li>
										<li>
											<a>安徽</a>
										</li>
										<li>
											<a>浙江</a>
										</li>
										<li>
											<a>福建</a>
										</li>
										<li>
											<a>湖北</a>
										</li>
										<li>
											<a>湖南</a>
										</li>
										<li>
											<a>广东</a>
										</li>
										<li>
											<a>广西</a>
										</li>
										<li>
											<a>江西</a>
										</li>
										<li>
											<a>四川</a>
										</li>
										<li>
											<a>海南</a>
										</li>
										<li>
											<a>贵州</a>
										</li>
										<li>
											<a>云南</a>
										</li>
										<li>
											<a>西藏</a>
										</li>
										<li>
											<a>陕西</a>
										</li>
										<li>
											<a>甘肃</a>
										</li>
										<li>
											<a>青海</a>
										</li>
										<li>
											<a>宁夏</a>
										</li>
										<li>
											<a>新疆</a>
										</li>
										<li>
											<a>港澳</a>
										</li>
										<li>
											<a>台湾</a>
										</li>
										<li>
											<a>钓鱼岛</a>
										</li> 
										<li>
											<a>海外</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class='fr'>
							<ul class='header_yt_t_ul'> 
								<li class='header_yt_t_ul_li1'>
									<a>你好，请登录</a>
									&nbsp;&nbsp;
									<a>免费注册</a>
								</li> 
								<li class='spacer'></li>
								<li>
									<div class="header_yt_t_ul_div1">
										<a>我的订单</a>
									</div>  
								</li>
								<li class='spacer'></li>   
								<li class='header_yt_t_ul_li3'>
									<div class="header_yt_t_ul_div1">
										<a>我的京东<i></i></a>
									</div>
									<div class="header_yt_t_ul_div2"> 
										<div>
											<p>
												<span><a>待处理订单</a></span>
												<span>
													<a>
														消息 
													</a>
												</span>
											</p> 
											<p>
												<span><a>返修退换货</a></span>
												<span>
													<a>
														我的问答 
													</a>
												</span>
											</p>
											<p>
												<span><a>降价商品</a></span>
												<span>
													<a>
														我的关注 
													</a>
												</span>
											</p>
										</div> 
										<div>
											<p>
												<span><a>我的京豆</a></span>
												<span>
													<a>
														我的优惠券 
													</a>
												</span>
											</p> 
											<p>
												<span><a>我的白条</a></span>
												<span>
													<a>
														我的理财 
													</a>
												</span>
											</p>   
										</div>
									</div>  
								</li>
								<li class='spacer'></li>
								<li>
									<div class="header_yt_t_ul_div1">
										<a>京东会员</a>
									</div>  
								</li>
								<li class='spacer'></li>   
								<li>
									<div class="header_yt_t_ul_div1">
										<a>企业采购</a>
									</div>  
								</li>
								<li class='spacer'></li>   
								<li class='header_yt_t_ul_li3 header_kehu'>
									<div class="header_yt_t_ul_div1">
										<a>客户服务<i></i></a>
									</div>
									<div class="header_yt_t_ul_div2"> 
									</div>  
								</li>  
								<li class='spacer'></li>   
								<li class='header_yt_t_ul_li3 header_wzdh'>
									<div class="header_yt_t_ul_div1">
										<a>网站导航<i></i></a>
									</div>
									<div class="header_yt_t_ul_div2"> 
									</div>  
								</li> 
								<li class='spacer'></li>   
								<li class='header_yt_t_ul_li3 header_sjjd'>
									<div class="header_yt_t_ul_div1">
										<a>手机京东<i></i></a> 
									</div>
									<div class="header_yt_t_ul_div2"> 
									</div> 
								</li>   
							</ul>
						</div>
					</div>
				</div>
				<div class='header_nav  '>
					<div class='w1210'>
						<div class='list_logo'>
							<a>
								<img src="/img/logo-201305.png">
							</a>
						</div>
						<div class='header_nav_div'>
							<div class='header_nav_div_1'>
								<form>
									<input type='text' class='nav_ss_text'>
									<button class='nav_ss_bu'><i></i></button>		
								</form>
								<p>
									<a class=''>低至9.9</a><a>轻薄本</a><a>游戏显示器</a><a>免费试用</a><a>办公精选</a><a>企采直降</a> 
								</p>
							</div>
							<div class='header_nav_div_2'>
								<div class='gwc'>
									<i class='gwc_i'></i>
									<i class='gwc_sl'>1</i>
									<a>我的购物车</a>
								</div>
								<div class='gwc_x'>
									<img src="/img/gwc_x.png">
								</div>
							</div>
						</div>	
					</div>
					<div class='w100_nav'>
						<div class='w1210'> 
							<div class='qbfl_div'>
								<a>全部商品分类</a>
								<div class='fl lb_div'> 
									<div class='fl lb_div' id='list_div_cd'>
										<ul class='lb_div_ul'> 
											<li><a>家用电器</a></li>
											<li><a>手机</a><span>/</span><a>运营商</a><span>/</span><a>数码</a></li>
											<li><a>电脑</a><span>/</span><a>办公</a>
											</li>
											<li><a>家居</a><span>/</span><a>家具</a><span>/</span><a>家装</a><span>/</span><a>厨具</a></li>
											<li><a>男装</a><span>/</span><a>女装</a><span>/</span><a>童装</a><span>/</span><a>内衣</a></li>
											<li><a>美妆个护</a><span>/</span><a>清洁用品</a><span>/</span><a>宠物</a></li>
											<li><a>鞋靴</a><span>/</span><a>箱包</a><span>/</span><a>珠宝</a><span>/</span><a>奢侈品</a></li>
											<li><a>运动</a><span>/</span><a>户外</a><span>/</span><a>钟表</a></li>
											<li><a>汽车</a><span>/</span><a>汽车用品</a></li>
											<li><a>母婴</a><span>/</span><a>玩具乐器</a></li>
											<li><a>食品</a><span>/</span><a>酒类</a><a>生鲜</a><span>/</span><a>特产</a></li>
											<li><a>医药保健</a></li>
											<li><a>图书</a><span>/</span><a>音像</a><span>/</span><a>电子书</a></li>
											<li><a>机票</a><span>/</span><a>酒店</a><span>/</span><a>旅游</a><span>/</span><a>生活</a></li>
											<li><a>理财</a><span>/</span><a>众筹</a><span>/</span><a>白条</a><span>/</span><a>保险</a></li> 
										</ul>
									</div>
									<div id='list_div_cd2'>
										<div class='lb_div_ul_li_div'> 
											<div class="zuoliebiao">
												<div class="zuozuo">
													<ul>
														<li>
															<a>家电馆<span>&gt;</span></a>
															<a>品牌日<span>&gt;</span></a>
															<a>智能生活馆<span>&gt;</span></a>
															<a>京东净化馆<span>&gt;</span></a>
															<a>城镇体验馆<span>&gt;</span></a>
															<a>家电众筹管<span>&gt;</span></a>
														</li>
														<li>
															<div class="z">
																<dt>电视<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>合资品牌</a></dd><span>|</span>
																<dd><a>国产品牌</a></dd><span>|</span>
																<dd><a>互联网品牌</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>空调<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>壁挂式空调</a></dd><span>|</span>
																<dd><a>柜式空调</a></dd><span>|</span>
																<dd><a>中央空调</a></dd><span>|</span>
																<dd><a>空调配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>洗衣机<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>滚筒洗衣机</a></dd><span>|</span>
																<dd><a>西洪一体机</a></dd><span>|</span>
																<dd><a>波轮洗衣机</a></dd><span>|</span>
																<dd><a>迷你洗衣机</a></dd><span>|</span>
																<dd><a>洗衣机配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>冰箱<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>多门</a></dd><span>|</span>
																<dd><a>对开门</a></dd><span>|</span>
																<dd><a>三门</a></dd><span>|</span>
																<dd><a>双门</a></dd><span>|</span>
																<dd><a>冷柜/冰吧</a></dd><span>|</span>
																<dd><a>酒柜</a></dd><span>|</span>
																<dd><a>冰箱配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>厨卫大电<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>油烟机</a></dd><span>|</span>
																<dd><a>燃气灶</a></dd><span>|</span>
																<dd><a>烟灶套装</a></dd><span>|</span>
																<dd><a>消毒柜</a></dd><span>|</span>
																<dd><a>洗碗机</a></dd><span>|</span>
																<dd><a>电热水器</a></dd><span>|</span>
																<dd><a>燃气热水器</a></dd><span>|</span>
																<dd><a>嵌入式厨电</a></dd>
															</div>
														</li>   
													</ul>
												</div>
												<div class="zuoyou">
													<a><img src="/img/liebiaozuozhong1.png"></a>
												</div>
											</div> 
										</div> 
										<div class='lb_div_ul_li_div'> 
											<div class="zuoliebiao">
												<div class="zuozuo">
													<ul>
														<li>
															<a>家电馆<span>&gt;</span></a>
															<a>品牌日<span>&gt;</span></a>
															<a>智能生活馆<span>&gt;</span></a>
															<a>京东净化馆<span>&gt;</span></a>
															<a>城镇体验馆<span>&gt;</span></a>
															<a>家电众筹管<span>&gt;</span></a>
														</li>
														<li>
															<div class="z">
																<dt>电视<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>合资品牌</a></dd><span>|</span>
																<dd><a>国产品牌</a></dd><span>|</span>
																<dd><a>互联网品牌</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>空调<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>壁挂式空调</a></dd><span>|</span>
																<dd><a>柜式空调</a></dd><span>|</span>
																<dd><a>中央空调</a></dd><span>|</span>
																<dd><a>空调配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>洗衣机<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>滚筒洗衣机</a></dd><span>|</span>
																<dd><a>西洪一体机</a></dd><span>|</span>
																<dd><a>波轮洗衣机</a></dd><span>|</span>
																<dd><a>迷你洗衣机</a></dd><span>|</span>
																<dd><a>洗衣机配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>冰箱<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>多门</a></dd><span>|</span>
																<dd><a>对开门</a></dd><span>|</span>
																<dd><a>三门</a></dd><span>|</span>
																<dd><a>双门</a></dd><span>|</span>
																<dd><a>冷柜/冰吧</a></dd><span>|</span>
																<dd><a>酒柜</a></dd><span>|</span>
																<dd><a>冰箱配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>厨卫大电<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>油烟机</a></dd><span>|</span>
																<dd><a>燃气灶</a></dd><span>|</span>
																<dd><a>烟灶套装</a></dd><span>|</span>
																<dd><a>消毒柜</a></dd><span>|</span>
																<dd><a>洗碗机</a></dd><span>|</span>
																<dd><a>电热水器</a></dd><span>|</span>
																<dd><a>燃气热水器</a></dd><span>|</span>
																<dd><a>嵌入式厨电</a></dd>
															</div>
														</li>   
													</ul>
												</div>
												<div class="zuoyou">
													<a><img src="/img/liebiaozuozhong1.png"></a>
												</div>
											</div> 
										</div> 
										<div class='lb_div_ul_li_div'> 
											<div class="zuoliebiao">
												<div class="zuozuo">
													<ul>
														<li>
															<a>家电馆<span>&gt;</span></a>
															<a>品牌日<span>&gt;</span></a>
															<a>智能生活馆<span>&gt;</span></a>
															<a>京东净化馆<span>&gt;</span></a>
															<a>城镇体验馆<span>&gt;</span></a>
															<a>家电众筹管<span>&gt;</span></a>
														</li>
														<li>
															<div class="z">
																<dt>电视<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>合资品牌</a></dd><span>|</span>
																<dd><a>国产品牌</a></dd><span>|</span>
																<dd><a>互联网品牌</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>空调<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>壁挂式空调</a></dd><span>|</span>
																<dd><a>柜式空调</a></dd><span>|</span>
																<dd><a>中央空调</a></dd><span>|</span>
																<dd><a>空调配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>洗衣机<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>滚筒洗衣机</a></dd><span>|</span>
																<dd><a>西洪一体机</a></dd><span>|</span>
																<dd><a>波轮洗衣机</a></dd><span>|</span>
																<dd><a>迷你洗衣机</a></dd><span>|</span>
																<dd><a>洗衣机配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>冰箱<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>多门</a></dd><span>|</span>
																<dd><a>对开门</a></dd><span>|</span>
																<dd><a>三门</a></dd><span>|</span>
																<dd><a>双门</a></dd><span>|</span>
																<dd><a>冷柜/冰吧</a></dd><span>|</span>
																<dd><a>酒柜</a></dd><span>|</span>
																<dd><a>冰箱配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>厨卫大电<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>油烟机</a></dd><span>|</span>
																<dd><a>燃气灶</a></dd><span>|</span>
																<dd><a>烟灶套装</a></dd><span>|</span>
																<dd><a>消毒柜</a></dd><span>|</span>
																<dd><a>洗碗机</a></dd><span>|</span>
																<dd><a>电热水器</a></dd><span>|</span>
																<dd><a>燃气热水器</a></dd><span>|</span>
																<dd><a>嵌入式厨电</a></dd>
															</div>
														</li>   
													</ul>
												</div>
												<div class="zuoyou">
													<a><img src="/img/liebiaozuozhong1.png"></a>
												</div>
											</div> 
										</div> 
										<div class='lb_div_ul_li_div'> 
											<div class="zuoliebiao">
												<div class="zuozuo">
													<ul>
														<li>
															<a>家电馆<span>&gt;</span></a>
															<a>品牌日<span>&gt;</span></a>
															<a>智能生活馆<span>&gt;</span></a>
															<a>京东净化馆<span>&gt;</span></a>
															<a>城镇体验馆<span>&gt;</span></a>
															<a>家电众筹管<span>&gt;</span></a>
														</li>
														<li>
															<div class="z">
																<dt>电视<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>合资品牌</a></dd><span>|</span>
																<dd><a>国产品牌</a></dd><span>|</span>
																<dd><a>互联网品牌</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>空调<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>壁挂式空调</a></dd><span>|</span>
																<dd><a>柜式空调</a></dd><span>|</span>
																<dd><a>中央空调</a></dd><span>|</span>
																<dd><a>空调配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>洗衣机<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>滚筒洗衣机</a></dd><span>|</span>
																<dd><a>西洪一体机</a></dd><span>|</span>
																<dd><a>波轮洗衣机</a></dd><span>|</span>
																<dd><a>迷你洗衣机</a></dd><span>|</span>
																<dd><a>洗衣机配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>冰箱<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>多门</a></dd><span>|</span>
																<dd><a>对开门</a></dd><span>|</span>
																<dd><a>三门</a></dd><span>|</span>
																<dd><a>双门</a></dd><span>|</span>
																<dd><a>冷柜/冰吧</a></dd><span>|</span>
																<dd><a>酒柜</a></dd><span>|</span>
																<dd><a>冰箱配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>厨卫大电<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>油烟机</a></dd><span>|</span>
																<dd><a>燃气灶</a></dd><span>|</span>
																<dd><a>烟灶套装</a></dd><span>|</span>
																<dd><a>消毒柜</a></dd><span>|</span>
																<dd><a>洗碗机</a></dd><span>|</span>
																<dd><a>电热水器</a></dd><span>|</span>
																<dd><a>燃气热水器</a></dd><span>|</span>
																<dd><a>嵌入式厨电</a></dd>
															</div>
														</li>   
													</ul>
												</div>
												<div class="zuoyou">
													<a><img src="/img/liebiaozuozhong1.png"></a>
												</div>
											</div> 
										</div> 
										<div class='lb_div_ul_li_div'> 
											<div class="zuoliebiao">
												<div class="zuozuo">
													<ul>
														<li>
															<a>家电馆<span>&gt;</span></a>
															<a>品牌日<span>&gt;</span></a>
															<a>智能生活馆<span>&gt;</span></a>
															<a>京东净化馆<span>&gt;</span></a>
															<a>城镇体验馆<span>&gt;</span></a>
															<a>家电众筹管<span>&gt;</span></a>
														</li>
														<li>
															<div class="z">
																<dt>电视<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>合资品牌</a></dd><span>|</span>
																<dd><a>国产品牌</a></dd><span>|</span>
																<dd><a>互联网品牌</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>空调<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>壁挂式空调</a></dd><span>|</span>
																<dd><a>柜式空调</a></dd><span>|</span>
																<dd><a>中央空调</a></dd><span>|</span>
																<dd><a>空调配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>洗衣机<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>滚筒洗衣机</a></dd><span>|</span>
																<dd><a>西洪一体机</a></dd><span>|</span>
																<dd><a>波轮洗衣机</a></dd><span>|</span>
																<dd><a>迷你洗衣机</a></dd><span>|</span>
																<dd><a>洗衣机配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>冰箱<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>多门</a></dd><span>|</span>
																<dd><a>对开门</a></dd><span>|</span>
																<dd><a>三门</a></dd><span>|</span>
																<dd><a>双门</a></dd><span>|</span>
																<dd><a>冷柜/冰吧</a></dd><span>|</span>
																<dd><a>酒柜</a></dd><span>|</span>
																<dd><a>冰箱配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>厨卫大电<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>油烟机</a></dd><span>|</span>
																<dd><a>燃气灶</a></dd><span>|</span>
																<dd><a>烟灶套装</a></dd><span>|</span>
																<dd><a>消毒柜</a></dd><span>|</span>
																<dd><a>洗碗机</a></dd><span>|</span>
																<dd><a>电热水器</a></dd><span>|</span>
																<dd><a>燃气热水器</a></dd><span>|</span>
																<dd><a>嵌入式厨电</a></dd>
															</div>
														</li>   
													</ul>
												</div>
												<div class="zuoyou">
													<a><img src="/img/liebiaozuozhong1.png"></a>
												</div>
											</div> 
										</div> 
										<div class='lb_div_ul_li_div'> 
											<div class="zuoliebiao">
												<div class="zuozuo">
													<ul>
														<li>
															<a>家电馆<span>&gt;</span></a>
															<a>品牌日<span>&gt;</span></a>
															<a>智能生活馆<span>&gt;</span></a>
															<a>京东净化馆<span>&gt;</span></a>
															<a>城镇体验馆<span>&gt;</span></a>
															<a>家电众筹管<span>&gt;</span></a>
														</li>
														<li>
															<div class="z">
																<dt>电视<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>合资品牌</a></dd><span>|</span>
																<dd><a>国产品牌</a></dd><span>|</span>
																<dd><a>互联网品牌</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>空调<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>壁挂式空调</a></dd><span>|</span>
																<dd><a>柜式空调</a></dd><span>|</span>
																<dd><a>中央空调</a></dd><span>|</span>
																<dd><a>空调配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>洗衣机<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>滚筒洗衣机</a></dd><span>|</span>
																<dd><a>西洪一体机</a></dd><span>|</span>
																<dd><a>波轮洗衣机</a></dd><span>|</span>
																<dd><a>迷你洗衣机</a></dd><span>|</span>
																<dd><a>洗衣机配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>冰箱<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>多门</a></dd><span>|</span>
																<dd><a>对开门</a></dd><span>|</span>
																<dd><a>三门</a></dd><span>|</span>
																<dd><a>双门</a></dd><span>|</span>
																<dd><a>冷柜/冰吧</a></dd><span>|</span>
																<dd><a>酒柜</a></dd><span>|</span>
																<dd><a>冰箱配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>厨卫大电<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>油烟机</a></dd><span>|</span>
																<dd><a>燃气灶</a></dd><span>|</span>
																<dd><a>烟灶套装</a></dd><span>|</span>
																<dd><a>消毒柜</a></dd><span>|</span>
																<dd><a>洗碗机</a></dd><span>|</span>
																<dd><a>电热水器</a></dd><span>|</span>
																<dd><a>燃气热水器</a></dd><span>|</span>
																<dd><a>嵌入式厨电</a></dd>
															</div>
														</li>   
													</ul>
												</div>
												<div class="zuoyou">
													<a><img src="/img/liebiaozuozhong1.png"></a>
												</div>
											</div> 
										</div> 
										<div class='lb_div_ul_li_div'> 
											<div class="zuoliebiao">
												<div class="zuozuo">
													<ul>
														<li>
															<a>家电馆<span>&gt;</span></a>
															<a>品牌日<span>&gt;</span></a>
															<a>智能生活馆<span>&gt;</span></a>
															<a>京东净化馆<span>&gt;</span></a>
															<a>城镇体验馆<span>&gt;</span></a>
															<a>家电众筹管<span>&gt;</span></a>
														</li>
														<li>
															<div class="z">
																<dt>电视<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>合资品牌</a></dd><span>|</span>
																<dd><a>国产品牌</a></dd><span>|</span>
																<dd><a>互联网品牌</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>空调<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>壁挂式空调</a></dd><span>|</span>
																<dd><a>柜式空调</a></dd><span>|</span>
																<dd><a>中央空调</a></dd><span>|</span>
																<dd><a>空调配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>洗衣机<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>滚筒洗衣机</a></dd><span>|</span>
																<dd><a>西洪一体机</a></dd><span>|</span>
																<dd><a>波轮洗衣机</a></dd><span>|</span>
																<dd><a>迷你洗衣机</a></dd><span>|</span>
																<dd><a>洗衣机配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>冰箱<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>多门</a></dd><span>|</span>
																<dd><a>对开门</a></dd><span>|</span>
																<dd><a>三门</a></dd><span>|</span>
																<dd><a>双门</a></dd><span>|</span>
																<dd><a>冷柜/冰吧</a></dd><span>|</span>
																<dd><a>酒柜</a></dd><span>|</span>
																<dd><a>冰箱配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>厨卫大电<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>油烟机</a></dd><span>|</span>
																<dd><a>燃气灶</a></dd><span>|</span>
																<dd><a>烟灶套装</a></dd><span>|</span>
																<dd><a>消毒柜</a></dd><span>|</span>
																<dd><a>洗碗机</a></dd><span>|</span>
																<dd><a>电热水器</a></dd><span>|</span>
																<dd><a>燃气热水器</a></dd><span>|</span>
																<dd><a>嵌入式厨电</a></dd>
															</div>
														</li>   
													</ul>
												</div>
												<div class="zuoyou">
													<a><img src="/img/liebiaozuozhong1.png"></a>
												</div>
											</div> 
										</div> 
										<div class='lb_div_ul_li_div'> 
											<div class="zuoliebiao">
												<div class="zuozuo">
													<ul>
														<li>
															<a>家电馆<span>&gt;</span></a>
															<a>品牌日<span>&gt;</span></a>
															<a>智能生活馆<span>&gt;</span></a>
															<a>京东净化馆<span>&gt;</span></a>
															<a>城镇体验馆<span>&gt;</span></a>
															<a>家电众筹管<span>&gt;</span></a>
														</li>
														<li>
															<div class="z">
																<dt>电视<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>合资品牌</a></dd><span>|</span>
																<dd><a>国产品牌</a></dd><span>|</span>
																<dd><a>互联网品牌</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>空调<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>壁挂式空调</a></dd><span>|</span>
																<dd><a>柜式空调</a></dd><span>|</span>
																<dd><a>中央空调</a></dd><span>|</span>
																<dd><a>空调配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>洗衣机<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>滚筒洗衣机</a></dd><span>|</span>
																<dd><a>西洪一体机</a></dd><span>|</span>
																<dd><a>波轮洗衣机</a></dd><span>|</span>
																<dd><a>迷你洗衣机</a></dd><span>|</span>
																<dd><a>洗衣机配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>冰箱<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>多门</a></dd><span>|</span>
																<dd><a>对开门</a></dd><span>|</span>
																<dd><a>三门</a></dd><span>|</span>
																<dd><a>双门</a></dd><span>|</span>
																<dd><a>冷柜/冰吧</a></dd><span>|</span>
																<dd><a>酒柜</a></dd><span>|</span>
																<dd><a>冰箱配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>厨卫大电<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>油烟机</a></dd><span>|</span>
																<dd><a>燃气灶</a></dd><span>|</span>
																<dd><a>烟灶套装</a></dd><span>|</span>
																<dd><a>消毒柜</a></dd><span>|</span>
																<dd><a>洗碗机</a></dd><span>|</span>
																<dd><a>电热水器</a></dd><span>|</span>
																<dd><a>燃气热水器</a></dd><span>|</span>
																<dd><a>嵌入式厨电</a></dd>
															</div>
														</li>   
													</ul>
												</div>
												<div class="zuoyou">
													<a><img src="/img/liebiaozuozhong1.png"></a>
												</div>
											</div> 
										</div> 
										<div class='lb_div_ul_li_div'> 
											<div class="zuoliebiao">
												<div class="zuozuo">
													<ul>
														<li>
															<a>家电馆<span>&gt;</span></a>
															<a>品牌日<span>&gt;</span></a>
															<a>智能生活馆<span>&gt;</span></a>
															<a>京东净化馆<span>&gt;</span></a>
															<a>城镇体验馆<span>&gt;</span></a>
															<a>家电众筹管<span>&gt;</span></a>
														</li>
														<li>
															<div class="z">
																<dt>电视<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>合资品牌</a></dd><span>|</span>
																<dd><a>国产品牌</a></dd><span>|</span>
																<dd><a>互联网品牌</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>空调<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>壁挂式空调</a></dd><span>|</span>
																<dd><a>柜式空调</a></dd><span>|</span>
																<dd><a>中央空调</a></dd><span>|</span>
																<dd><a>空调配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>洗衣机<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>滚筒洗衣机</a></dd><span>|</span>
																<dd><a>西洪一体机</a></dd><span>|</span>
																<dd><a>波轮洗衣机</a></dd><span>|</span>
																<dd><a>迷你洗衣机</a></dd><span>|</span>
																<dd><a>洗衣机配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>冰箱<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>多门</a></dd><span>|</span>
																<dd><a>对开门</a></dd><span>|</span>
																<dd><a>三门</a></dd><span>|</span>
																<dd><a>双门</a></dd><span>|</span>
																<dd><a>冷柜/冰吧</a></dd><span>|</span>
																<dd><a>酒柜</a></dd><span>|</span>
																<dd><a>冰箱配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>厨卫大电<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>油烟机</a></dd><span>|</span>
																<dd><a>燃气灶</a></dd><span>|</span>
																<dd><a>烟灶套装</a></dd><span>|</span>
																<dd><a>消毒柜</a></dd><span>|</span>
																<dd><a>洗碗机</a></dd><span>|</span>
																<dd><a>电热水器</a></dd><span>|</span>
																<dd><a>燃气热水器</a></dd><span>|</span>
																<dd><a>嵌入式厨电</a></dd>
															</div>
														</li>   
													</ul>
												</div>
												<div class="zuoyou">
													<a><img src="/img/liebiaozuozhong1.png"></a>
												</div>
											</div> 
										</div> 
										<div class='lb_div_ul_li_div'> 
											<div class="zuoliebiao">
												<div class="zuozuo">
													<ul>
														<li>
															<a>家电馆<span>&gt;</span></a>
															<a>品牌日<span>&gt;</span></a>
															<a>智能生活馆<span>&gt;</span></a>
															<a>京东净化馆<span>&gt;</span></a>
															<a>城镇体验馆<span>&gt;</span></a>
															<a>家电众筹管<span>&gt;</span></a>
														</li>
														<li>
															<div class="z">
																<dt>电视<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>合资品牌</a></dd><span>|</span>
																<dd><a>国产品牌</a></dd><span>|</span>
																<dd><a>互联网品牌</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>空调<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>壁挂式空调</a></dd><span>|</span>
																<dd><a>柜式空调</a></dd><span>|</span>
																<dd><a>中央空调</a></dd><span>|</span>
																<dd><a>空调配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>洗衣机<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>滚筒洗衣机</a></dd><span>|</span>
																<dd><a>西洪一体机</a></dd><span>|</span>
																<dd><a>波轮洗衣机</a></dd><span>|</span>
																<dd><a>迷你洗衣机</a></dd><span>|</span>
																<dd><a>洗衣机配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>冰箱<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>多门</a></dd><span>|</span>
																<dd><a>对开门</a></dd><span>|</span>
																<dd><a>三门</a></dd><span>|</span>
																<dd><a>双门</a></dd><span>|</span>
																<dd><a>冷柜/冰吧</a></dd><span>|</span>
																<dd><a>酒柜</a></dd><span>|</span>
																<dd><a>冰箱配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>厨卫大电<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>油烟机</a></dd><span>|</span>
																<dd><a>燃气灶</a></dd><span>|</span>
																<dd><a>烟灶套装</a></dd><span>|</span>
																<dd><a>消毒柜</a></dd><span>|</span>
																<dd><a>洗碗机</a></dd><span>|</span>
																<dd><a>电热水器</a></dd><span>|</span>
																<dd><a>燃气热水器</a></dd><span>|</span>
																<dd><a>嵌入式厨电</a></dd>
															</div>
														</li>   
													</ul>
												</div>
												<div class="zuoyou">
													<a><img src="/img/liebiaozuozhong1.png"></a>
												</div>
											</div> 
										</div> 
										<div class='lb_div_ul_li_div'> 
											<div class="zuoliebiao">
												<div class="zuozuo">
													<ul>
														<li>
															<a>家电馆<span>&gt;</span></a>
															<a>品牌日<span>&gt;</span></a>
															<a>智能生活馆<span>&gt;</span></a>
															<a>京东净化馆<span>&gt;</span></a>
															<a>城镇体验馆<span>&gt;</span></a>
															<a>家电众筹管<span>&gt;</span></a>
														</li>
														<li>
															<div class="z">
																<dt>电视<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>合资品牌</a></dd><span>|</span>
																<dd><a>国产品牌</a></dd><span>|</span>
																<dd><a>互联网品牌</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>空调<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>壁挂式空调</a></dd><span>|</span>
																<dd><a>柜式空调</a></dd><span>|</span>
																<dd><a>中央空调</a></dd><span>|</span>
																<dd><a>空调配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>洗衣机<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>滚筒洗衣机</a></dd><span>|</span>
																<dd><a>西洪一体机</a></dd><span>|</span>
																<dd><a>波轮洗衣机</a></dd><span>|</span>
																<dd><a>迷你洗衣机</a></dd><span>|</span>
																<dd><a>洗衣机配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>冰箱<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>多门</a></dd><span>|</span>
																<dd><a>对开门</a></dd><span>|</span>
																<dd><a>三门</a></dd><span>|</span>
																<dd><a>双门</a></dd><span>|</span>
																<dd><a>冷柜/冰吧</a></dd><span>|</span>
																<dd><a>酒柜</a></dd><span>|</span>
																<dd><a>冰箱配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>厨卫大电<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>油烟机</a></dd><span>|</span>
																<dd><a>燃气灶</a></dd><span>|</span>
																<dd><a>烟灶套装</a></dd><span>|</span>
																<dd><a>消毒柜</a></dd><span>|</span>
																<dd><a>洗碗机</a></dd><span>|</span>
																<dd><a>电热水器</a></dd><span>|</span>
																<dd><a>燃气热水器</a></dd><span>|</span>
																<dd><a>嵌入式厨电</a></dd>
															</div>
														</li>   
													</ul>
												</div>
												<div class="zuoyou">
													<a><img src="/img/liebiaozuozhong1.png"></a>
												</div>
											</div> 
										</div> 
										<div class='lb_div_ul_li_div'> 
											<div class="zuoliebiao">
												<div class="zuozuo">
													<ul>
														<li>
															<a>家电馆<span>&gt;</span></a>
															<a>品牌日<span>&gt;</span></a>
															<a>智能生活馆<span>&gt;</span></a>
															<a>京东净化馆<span>&gt;</span></a>
															<a>城镇体验馆<span>&gt;</span></a>
															<a>家电众筹管<span>&gt;</span></a>
														</li>
														<li>
															<div class="z">
																<dt>电视<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>合资品牌</a></dd><span>|</span>
																<dd><a>国产品牌</a></dd><span>|</span>
																<dd><a>互联网品牌</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>空调<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>壁挂式空调</a></dd><span>|</span>
																<dd><a>柜式空调</a></dd><span>|</span>
																<dd><a>中央空调</a></dd><span>|</span>
																<dd><a>空调配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>洗衣机<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>滚筒洗衣机</a></dd><span>|</span>
																<dd><a>西洪一体机</a></dd><span>|</span>
																<dd><a>波轮洗衣机</a></dd><span>|</span>
																<dd><a>迷你洗衣机</a></dd><span>|</span>
																<dd><a>洗衣机配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>冰箱<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>多门</a></dd><span>|</span>
																<dd><a>对开门</a></dd><span>|</span>
																<dd><a>三门</a></dd><span>|</span>
																<dd><a>双门</a></dd><span>|</span>
																<dd><a>冷柜/冰吧</a></dd><span>|</span>
																<dd><a>酒柜</a></dd><span>|</span>
																<dd><a>冰箱配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>厨卫大电<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>油烟机</a></dd><span>|</span>
																<dd><a>燃气灶</a></dd><span>|</span>
																<dd><a>烟灶套装</a></dd><span>|</span>
																<dd><a>消毒柜</a></dd><span>|</span>
																<dd><a>洗碗机</a></dd><span>|</span>
																<dd><a>电热水器</a></dd><span>|</span>
																<dd><a>燃气热水器</a></dd><span>|</span>
																<dd><a>嵌入式厨电</a></dd>
															</div>
														</li>   
													</ul>
												</div>
												<div class="zuoyou">
													<a><img src="/img/liebiaozuozhong1.png"></a>
												</div>
											</div> 
										</div> 
										<div class='lb_div_ul_li_div'> 
											<div class="zuoliebiao">
												<div class="zuozuo">
													<ul>
														<li>
															<a>家电馆<span>&gt;</span></a>
															<a>品牌日<span>&gt;</span></a>
															<a>智能生活馆<span>&gt;</span></a>
															<a>京东净化馆<span>&gt;</span></a>
															<a>城镇体验馆<span>&gt;</span></a>
															<a>家电众筹管<span>&gt;</span></a>
														</li>
														<li>
															<div class="z">
																<dt>电视<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>合资品牌</a></dd><span>|</span>
																<dd><a>国产品牌</a></dd><span>|</span>
																<dd><a>互联网品牌</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>空调<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>壁挂式空调</a></dd><span>|</span>
																<dd><a>柜式空调</a></dd><span>|</span>
																<dd><a>中央空调</a></dd><span>|</span>
																<dd><a>空调配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>洗衣机<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>滚筒洗衣机</a></dd><span>|</span>
																<dd><a>西洪一体机</a></dd><span>|</span>
																<dd><a>波轮洗衣机</a></dd><span>|</span>
																<dd><a>迷你洗衣机</a></dd><span>|</span>
																<dd><a>洗衣机配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>冰箱<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>多门</a></dd><span>|</span>
																<dd><a>对开门</a></dd><span>|</span>
																<dd><a>三门</a></dd><span>|</span>
																<dd><a>双门</a></dd><span>|</span>
																<dd><a>冷柜/冰吧</a></dd><span>|</span>
																<dd><a>酒柜</a></dd><span>|</span>
																<dd><a>冰箱配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>厨卫大电<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>油烟机</a></dd><span>|</span>
																<dd><a>燃气灶</a></dd><span>|</span>
																<dd><a>烟灶套装</a></dd><span>|</span>
																<dd><a>消毒柜</a></dd><span>|</span>
																<dd><a>洗碗机</a></dd><span>|</span>
																<dd><a>电热水器</a></dd><span>|</span>
																<dd><a>燃气热水器</a></dd><span>|</span>
																<dd><a>嵌入式厨电</a></dd>
															</div>
														</li>   
													</ul>
												</div>
												<div class="zuoyou">
													<a><img src="/img/liebiaozuozhong1.png"></a>
												</div>
											</div> 
										</div> 
										<div class='lb_div_ul_li_div'> 
											<div class="zuoliebiao">
												<div class="zuozuo">
													<ul>
														<li>
															<a>家电馆<span>&gt;</span></a>
															<a>品牌日<span>&gt;</span></a>
															<a>智能生活馆<span>&gt;</span></a>
															<a>京东净化馆<span>&gt;</span></a>
															<a>城镇体验馆<span>&gt;</span></a>
															<a>家电众筹管<span>&gt;</span></a>
														</li>
														<li>
															<div class="z">
																<dt>电视<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>合资品牌</a></dd><span>|</span>
																<dd><a>国产品牌</a></dd><span>|</span>
																<dd><a>互联网品牌</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>空调<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>壁挂式空调</a></dd><span>|</span>
																<dd><a>柜式空调</a></dd><span>|</span>
																<dd><a>中央空调</a></dd><span>|</span>
																<dd><a>空调配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>洗衣机<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>滚筒洗衣机</a></dd><span>|</span>
																<dd><a>西洪一体机</a></dd><span>|</span>
																<dd><a>波轮洗衣机</a></dd><span>|</span>
																<dd><a>迷你洗衣机</a></dd><span>|</span>
																<dd><a>洗衣机配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>冰箱<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>多门</a></dd><span>|</span>
																<dd><a>对开门</a></dd><span>|</span>
																<dd><a>三门</a></dd><span>|</span>
																<dd><a>双门</a></dd><span>|</span>
																<dd><a>冷柜/冰吧</a></dd><span>|</span>
																<dd><a>酒柜</a></dd><span>|</span>
																<dd><a>冰箱配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>厨卫大电<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>油烟机</a></dd><span>|</span>
																<dd><a>燃气灶</a></dd><span>|</span>
																<dd><a>烟灶套装</a></dd><span>|</span>
																<dd><a>消毒柜</a></dd><span>|</span>
																<dd><a>洗碗机</a></dd><span>|</span>
																<dd><a>电热水器</a></dd><span>|</span>
																<dd><a>燃气热水器</a></dd><span>|</span>
																<dd><a>嵌入式厨电</a></dd>
															</div>
														</li>   
													</ul>
												</div>
												<div class="zuoyou">
													<a><img src="/img/liebiaozuozhong1.png"></a>
												</div>
											</div> 
										</div> 
										<div class='lb_div_ul_li_div'> 
											<div class="zuoliebiao">
												<div class="zuozuo">
													<ul>
														<li>
															<a>家电馆<span>&gt;</span></a>
															<a>品牌日<span>&gt;</span></a>
															<a>智能生活馆<span>&gt;</span></a>
															<a>京东净化馆<span>&gt;</span></a>
															<a>城镇体验馆<span>&gt;</span></a>
															<a>家电众筹管<span>&gt;</span></a>
														</li>
														<li>
															<div class="z">
																<dt>电视<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>合资品牌</a></dd><span>|</span>
																<dd><a>国产品牌</a></dd><span>|</span>
																<dd><a>互联网品牌</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>空调<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>壁挂式空调</a></dd><span>|</span>
																<dd><a>柜式空调</a></dd><span>|</span>
																<dd><a>中央空调</a></dd><span>|</span>
																<dd><a>空调配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>洗衣机<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>滚筒洗衣机</a></dd><span>|</span>
																<dd><a>西洪一体机</a></dd><span>|</span>
																<dd><a>波轮洗衣机</a></dd><span>|</span>
																<dd><a>迷你洗衣机</a></dd><span>|</span>
																<dd><a>洗衣机配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>冰箱<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>多门</a></dd><span>|</span>
																<dd><a>对开门</a></dd><span>|</span>
																<dd><a>三门</a></dd><span>|</span>
																<dd><a>双门</a></dd><span>|</span>
																<dd><a>冷柜/冰吧</a></dd><span>|</span>
																<dd><a>酒柜</a></dd><span>|</span>
																<dd><a>冰箱配件</a></dd>
															</div>
														</li>
														<li>
															<div class="z">
																<dt>厨卫大电<span>&gt;</span></dt>
															</div>
															<div class="y">
																<span>|</span>
																<dd><a>油烟机</a></dd><span>|</span>
																<dd><a>燃气灶</a></dd><span>|</span>
																<dd><a>烟灶套装</a></dd><span>|</span>
																<dd><a>消毒柜</a></dd><span>|</span>
																<dd><a>洗碗机</a></dd><span>|</span>
																<dd><a>电热水器</a></dd><span>|</span>
																<dd><a>燃气热水器</a></dd><span>|</span>
																<dd><a>嵌入式厨电</a></dd>
															</div>
														</li>   
													</ul>
												</div>
												<div class="zuoyou">
													<a><img src="/img/liebiaozuozhong1.png"></a>
												</div>
											</div> 
										</div> 
									</div>
								</div>
							</div> 
							<div class='nav_nav'> 
								<a href="./index.html">首页</a>
								<a>电脑办公</a>
								<a>装机大师</a>
								<a>京东游戏</a>
								<a>电脑私人定制</a>
								<a>本周热卖</a>
								<a>轻薄本</a>
								<a>值得买推荐</a> 
							</div> 
						</div>
					</div>
				</div>
			</div>  
			<!-- 当前位置加 店铺信息 客服 顶条 -->
			<div class='dqwz_dp_div'>
				<div class='dqwz_dp_div_1'>
					<div class='dqwz_dp_div_1_1'>
						<a>电脑、办公</a>
						<span>></span>
						<a>电脑整机</a>
						<span>></span>
						<a>笔记本</a>
						<span>></span>
						<a>Apple</a>
						<span>></span>
						<a>AppleMacBook Air</a> 
					</div>
					<div class='dqwz_dp_div_1_2'>  
						<div class='dqwz_dp_div_1_2_1'>	
							<a>
								京东Apple产品专营店 
							</a>
							<em class="u_jd">
	                            <span>JD</span>自营
	                        </em>
						</div>  
						<div class='dqwz_dp_div_1_2_2'>	
							<a>
								<i></i>
								<span>联系供应商</span>
							</a>
						</div>
						<div class='dqwz_dp_div_1_2_3 dqwz_dp_div_1_2_2'>	
							<a>
								<i></i>
								<span>JIMI</span> 
							</a>
						</div> 
						<div class='dqwz_dp_div_1_2_4 dqwz_dp_div_1_2_2'>	
							<a>
								<i></i>
								<span>关注店铺</span> 
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- 商品介绍 -->
			<div class='spjs_div'>
				<div class='spjs_tp_div'> 
					<div id="show_fdj"> 
						<div id="small" class='spjs_tp_div_img'>
							<img src="/img/57ad8846N64ac3c79.jpg">
							<i></i>
						</div>
						<div id="move_fdj"></div>
						<div id="big_fdj_div"> 
							<div id="big_fdj">
								<img src="/img/57ad8846N64ac3c79.jpg" alt="">
							</div>
						</div>
					</div>
						<div class='spjs_tp_div_img2'>
						<a class='spjs_tp_div_img2_l'><i></i></a>
						<a class='spjs_tp_div_img2_r'><i></i></a>
						<div class='spjs_tp_div_img2_div'  id="imglist">
							<a><img src="/img/57ad8846N64ac3c79.jpg"></a>
							<a><img src="/img/5489646.jpg"></a>
							<a><img src="/img/57ad8846N64ac3c79.jpg"></a>
						</div> 
					</div>
					<div class='spjs_tp_div_gfd'>
						<div class='spjs_tp_div_gfd_l'>
							<a class='gz_a_i'>
								<i></i>
								<em>关注</em>
							</a>
							<a class='fx_a_i'>
								<i></i>
								<em>分享</em>
							</a>
							<a class='db_a_i'>
								<i></i>
								<em>对比</em>
							</a>
						</div>
						<div class='spjs_tp_div_gfd_r'>
							<a>举报</a>
						</div>
					</div> 
				</div> 
				<div class='spjs_js_div'>
					<h3>Apple MacBook Air 13.3英寸笔记本电脑 银色(Core i5 处理器/8GB内存/128GB SSD闪存 MMGF2CH/A)</h3>
					<p class='spjs_js_div_p1'>【3月开学季】神券满6000减600元！超强的续航能力，纤薄、轻巧、耐用！<a>点击领券《《</a></p>
					<div class='spjs_js_div_div'>
						<div class="bg_spjs_js_div_div">
							<div class='spjs_js_div_div_p1'>
								<span>京 东 价</span>
								<div class='spjs_js_div_div_p1_div'>
									<span class="p-price"><span>￥</span><span class="price">6988.00</span></span>
									<a>降价通知</a>
								</div> 
							</div>
							<span class='spjs_js_div_div_span1'>
								<p>累计评价</p>
								<a>9.5万+</a>
							</span>
							<div class='spjs_js_div_div_div2'>
								<div class='bg_spjs_js_div_div_div2'>
									<span class='dt_spjs'>促销</span>
									<div class='dd_spjs'>
										<p class='spjs_js_div_div_div2_p1'>
											<span class='hongzi_border_red'><em>赠品</em></span>
											<span class='cx_sp_span'><a><img src="/img/580f24f2N9e02b4d9.jpg"></a><em class="gift-number">× 1</em> <span class='cx_zcwz'>（赠完即止）</span></span>
										</p>
										<p class='spjs_js_div_div_div2_p2'>
											<span class='hongzi_border_red'><em>加价购</em></span>
											<span class='cx_sp_span'><span class='cx_zcwz'>满500.00元另加548.00元即可在购物车换购热销商品</span><a class='cx_xq'> 详情 >></a></span> 
										</p>
									</div>
								</div>  
							</div>
						</div> 
						<div class='sp_ps_xq'>
							<div class='sp_ps_xq_zc'> 
								<span class='dt_spjs'>支持</span>
								<div class='dd_spjs'>
									<a><img src="/img/66666666.png"  ondragstart="return false;"></a>
								</div>
							</div>
							<div class='psz_div psz_div_2'>  
								<span class='dt_spjs'> 配 送 至 </span> 
								<div class='dd_spjs'>
									<!-- <a><img src="/img/77777.png"  ondragstart="return false;"></a> -->
									<div class='psz_dadiv'>
										<div class='psz_xiaodiv'>
											<div class="head">
	                                            <span class="text" data-res="">北京昌平区六环以内</span>
	                                            <span class="arrow arr-close"></span>
	                                        </div>
										</div>
										<div class="store-prompt"><strong>有货</strong></div>
										<div class="psz_xiaodiv_2">
											<div class="title fl">支持</div>
											<div  class="psz_xiaodiv_2_1">
												<a>99元免基础运费(50kg内)</a>
												<a>货到付款</a>
												<a class="noborder">京准达</a> 
	                                            <span class="arrow arr-close"></span>
											</div>
										</div>
									</div>
								</div>
							</div> 
							<div class='psz_div psz_div_2'>  
								<span class='dt_spjs'> 重 量 </span> 
								<div class='dd_spjs'> 
									<i style="display: block;line-height: 30px;">3Kg</i>
								</div>
							</div>
						</div>
						<div class='xz_pz'>
							<div class='sp_ps_xq_zc'> 
								<span class='dt_spjs'>选择颜色</span>
								<div class='dd_spjs pz_xz_yhmh'>
									<a class='yh xzys kexuan'>
										<img src="/img/573aad05Nba66c04a.jpg" width="40" height="40">
										<i class="yans_i">标配版</i>
										<i class="i_duigou"></i>
                             		</a>
									<a class='xzys kexuan'>
										<img src="/img/573aad05Nba66c04a.jpg" width="40" height="40">
										<i class="yans_i">套装版</i>
										<i class="i_duigou"></i>
									</a>
								</div>
							</div>
							<div class='sp_ps_xq_zc'> 
								<span class='dt_spjs'>选择版本</span>
								<div class='dd_spjs pz_xz_yhmh'>
									<a class='myh'>11.6英寸<i class="i_duigou"></i></a>
									<a class='yh kexuan'>13.3英寸<i class="i_duigou"></i></a>
								</div>
							</div> 
							<div class='sp_ps_xq_zc'> 
								<span class='dt_spjs'>选择配置</span>
								<div class='dd_spjs pz_xz_yhmh'>
									<a class='myh'>双核i5 /4GB内存/128GB闪存<i class="i_duigou"></i></a> 
									<a class='yh kexuan'>双核i5 /4GB内存/128GB闪存<i class="i_duigou"></i></a> 
								</div>
							</div> 
							<div class='sp_ps_xq_zc'> 
								<span class='dt_spjs'>套　　装</span>
								<div class='dd_spjs pz_xz_yhmh taozhuang_a'> 
									<a class='kexuan yh'>优惠套餐1<i class="i_duigou"></i></a>
									<a class='kexuan'>优惠套餐2<i class="i_duigou"></i></a>
									<a class='kexuan'>优惠套餐3<i class="i_duigou"></i></a>
									<a class='kexuan'>优惠套餐4<i class="i_duigou"></i></a>
									<a class='kexuan'>优惠套餐5<i class="i_duigou"></i></a>
									<a class='kexuan'>优惠套餐6<i class="i_duigou"></i></a>
								</div>
							</div>  
							<div class='sp_ps_xq_zc'> 
								<span class='dt_spjs'>白条分期</span>
								<div class='dd_spjs pz_xz_yhmh taozhuang_a'>  
									<a class='kexuan'>30天免息<i class="i_duigou"></i></a>
									<a class='kexuan'>￥2296.61×3期<i class="i_duigou"></i></a>
									<a class='kexuan'>￥1165.27×6期<i class="i_duigou"></i></a>
									<a class='kexuan'>￥599.61×12期<i class="i_duigou"></i></a>
									<a class='kexuan'>￥316.77×24期<i class="i_duigou"></i></a>
								</div>
								<a class="a_hui a_kuans"></a>
								<a class="a_wenhao a_kuans"></a>
							</div>  
						</div>
						<div class='gouwuche_div'> 
						</div> 
						<div class='gouwuche_div_2'> 
							<div class="choose-amount">
                                <div class="wrap-input">
                                    <input class="text buy-num" value="1">
                                    <a class="btn-reduce disabled" onselectstart="return false">-</a>
                                    <a class="btn-add" onselectstart="return false">+</a>
                                </div>
                            </div>
                            <a id="InitCartUrl" class="btn-special1 btn-lg Q-buy-btn">加入购物车</a> 
						</div>
						<div class="summary-tips ">
	                        <div class="dt">本地活动</div>
	                        <div class="dd">
	                            <ol class="tips-list clearfix"><li>·<a>抢电脑大额优惠神券 &gt;&gt;</a></li></ol>
	                        </div>
	                    </div>
						<div class="summary-tips">
	                        <div class="dt">温馨提示</div>
	                        <div class="dd">
	                            <ol class="tips-list clearfix"><li>·支持7天无理由退货</li></ol>
	                        </div>
	                    </div>
					</div>
				</div>
			</div>
			<!--达人选购  商品详情-->
			<div class="spzhpx"> 
				<div class='popbox_div'>
					<div class="m m-aside popbox" id="popbox">
	                	<div class="popbox-inner">
						    <div class="mt">
						        <h3><a>京东Apple产品专营店</a></h3>
				                <div class="im-wrap clearfix">
						            <a class="J-popbox-im im"><i class="sprite-im"></i></a>
						        </div> 
				            </div>
					        <div class="mc">
						        <div class="pop-score-summary">
						            <div class="btns">
						                <a>
						                    <i class="sprite-enter"></i>
						                    <span>进店逛逛</span>
						                </a>
						                <a>
						                    <i class="sprite-follow"> </i>
						                    <span>关注店铺</span>
						                </a>
						            </div>
						        </div>
						    </div>
					    </div>
	           		</div>
					<div class="spzhpx_1">
						<div class="guanggao">
							<p>达人选购</p>
						</div>  
						<div class="spcopy">
							<div class="spcopy-1">
								<img src="/img/39.jpg">
							</div>
							<a class="spcopy-2">vivo X9 全网通 4GB+64GB 移动联通电信4G手机 双卡双待 X9i磨砂黑</a>
							<div class="spcopy-3">
								<p class="spcopy-3-1">￥2798.00</p>
								<p class="spcopy-3-2">赠品</p>
							</div>
							<p class="spcopy-3-3">已有<a>48271</a>人评价 </p> 
						</div> 
						<div class="spcopy">
							<div class="spcopy-1">
								<img src="/img/39.jpg">
							</div>
							<a class="spcopy-2">vivo X9 全网通 4GB+64GB 移动联通电信4G手机 双卡双待 X9i磨砂黑</a>
							<div class="spcopy-3">
								<p class="spcopy-3-1">￥2798.00</p>
								<p class="spcopy-3-2">赠品</p>
							</div>
							<p class="spcopy-3-3">已有<a>48271</a>人评价 </p> 
						</div> 
						<div class="spcopy">
							<div class="spcopy-1">
								<img src="/img/39.jpg">
							</div>
							<a class="spcopy-2">vivo X9 全网通 4GB+64GB 移动联通电信4G手机 双卡双待 X9i磨砂黑</a>
							<div class="spcopy-3">
								<p class="spcopy-3-1">￥2798.00</p>
								<p class="spcopy-3-2">赠品</p>
							</div>
							<p class="spcopy-3-3">已有<a>48271</a>人评价 </p> 
						</div> 
						<div class="spcopy">
							<div class="spcopy-1">
								<img src="/img/39.jpg">
							</div>
							<a class="spcopy-2">vivo X9 全网通 4GB+64GB 移动联通电信4G手机 双卡双待 X9i磨砂黑</a>
							<div class="spcopy-3">
								<p class="spcopy-3-1">￥2798.00</p>
								<p class="spcopy-3-2">赠品</p>
							</div>
							<p class="spcopy-3-3">已有<a>48271</a>人评价 </p> 
						</div> 
						<div class="spcopy">
							<div class="spcopy-1">
								<img src="/img/39.jpg">
							</div>
							<a class="spcopy-2">vivo X9 全网通 4GB+64GB 移动联通电信4G手机 双卡双待 X9i磨砂黑</a>
							<div class="spcopy-3">
								<p class="spcopy-3-1">￥2798.00</p>
								<p class="spcopy-3-2">赠品</p>
							</div>
							<p class="spcopy-3-3">已有<a>48271</a>人评价 </p> 
						</div> 
						<div class="spcopy">
							<div class="spcopy-1">
								<img src="/img/39.jpg">
							</div>
							<a class="spcopy-2">vivo X9 全网通 4GB+64GB 移动联通电信4G手机 双卡双待 X9i磨砂黑</a>
							<div class="spcopy-3">
								<p class="spcopy-3-1">￥2798.00</p>
								<p class="spcopy-3-2">赠品</p>
							</div>
							<p class="spcopy-3-3">已有<a>48271</a>人评价 </p> 
						</div> 
						<div class="spcopy">
							<div class="spcopy-1">
								<img src="/img/39.jpg">
							</div>
							<a class="spcopy-2">vivo X9 全网通 4GB+64GB 移动联通电信4G手机 双卡双待 X9i磨砂黑</a>
							<div class="spcopy-3">
								<p class="spcopy-3-1">￥2798.00</p>
								<p class="spcopy-3-2">赠品</p>
							</div>
							<p class="spcopy-3-3">已有<a>48271</a>人评价 </p> 
						</div> 
						<div class="spcopy">
							<div class="spcopy-1">
								<img src="/img/39.jpg">
							</div>
							<a class="spcopy-2">vivo X9 全网通 4GB+64GB 移动联通电信4G手机 双卡双待 X9i磨砂黑</a>
							<div class="spcopy-3">
								<p class="spcopy-3-1">￥2798.00</p>
								<p class="spcopy-3-2">赠品</p>
							</div>
							<p class="spcopy-3-3">已有<a>48271</a> 人评价</p> 
						</div> 
						<div class="spcopy">
							<div class="spcopy-1">
								<img src="/img/39.jpg">
							</div>
							<a class="spcopy-2">vivo X9 全网通 4GB+64GB 移动联通电信4G手机 双卡双待 X9i磨砂黑</a>
							<div class="spcopy-3">
								<p class="spcopy-3-1">￥2798.00</p>
								<p class="spcopy-3-2">赠品</p>
							</div>
							<p class="spcopy-3-3">已有<a>48271</a>人评价 </p> 
						</div>  
						<div class="spcopy">
							<div class="spcopy-1">
								<img src="/img/39.jpg">
							</div>
							<a class="spcopy-2">vivo X9 全网通 4GB+64GB 移动联通电信4G手机 双卡双待 X9i磨砂黑</a>
							<div class="spcopy-3">
								<p class="spcopy-3-1">￥2798.00</p>
								<p class="spcopy-3-2">赠品</p>
							</div>
							<p class="spcopy-3-3">已有<a>48271</a>人评价 </p> 
						</div> 
						<div class="spcopy">
							<div class="spcopy-1">
								<img src="/img/39.jpg">
							</div>
							<a class="spcopy-2">vivo X9 全网通 4GB+64GB 移动联通电信4G手机 双卡双待 X9i磨砂黑</a>
							<div class="spcopy-3">
								<p class="spcopy-3-1">￥2798.00</p>
								<p class="spcopy-3-2">赠品</p>
							</div>
							<p class="spcopy-3-3">已有<a>48271</a> 人评价</p> 
						</div> 
						<div class="spcopy">
							<div class="spcopy-1">
								<img src="/img/39.jpg">
							</div>
							<a class="spcopy-2">vivo X9 全网通 4GB+64GB 移动联通电信4G手机 双卡双待 X9i磨砂黑</a>
							<div class="spcopy-3">
								<p class="spcopy-3-1">￥2798.00</p>
								<p class="spcopy-3-2">赠品</p>
							</div>
							<p class="spcopy-3-3">已有<a>48271</a>人评价 </p> 
						</div>  
					</div> 
				</div>
				<div class="ggybz">
					<div class="shangpinjs" id='shangpinjs'>
						<div class="shangpinjs-l">
							<a class="shangpinred">商品介绍</a>
							<a>规格与包装</a>
							<a>售后保障</a>
							<a>商品评价(10万+)</a>
							<a>社区互动</a>  
						</div> 
						<a class="yuyueyuyue">加入购物车</a>
					</div> 
					<div class="spxqy_div_plxxk">
						<div>
							<div class="shangpinxq">
								<div class="shangpindiyi">
									<p class="shangpin-1">品牌：</p>
									<a class="shangpin-2" style="margin-right: 10px;"> Apple   </a>
									<a class="shangpin-3"><b>♥</b>关注</a>
								</div>	
								
								<div class="shangpindier">
									<p>商品名称：苹果电脑</p>
									<p>商品编号：2034591</p>
									<p>商品毛重：2kg</p>
									<p>商品产地：中国大陆</p>
								
								</div>
								<div class="shangpindisan">
									<p>商品名称：苹果电脑</p>
									<p>商品编号：2034591</p>
									<p>商品毛重：2kg</p>
									<p>商品产地：中国大陆</p>
								</div>
								
								<div class="shangpindisan">
									<p>商品名称：苹果电脑</p>
									<p>商品编号：2034591</p>
									<p>商品毛重：2kg</p>
									<p>商品产地：中国大陆</p>
								</div>
								<a class="canshu">更多参数&gt;&gt;</a>
							</div> 
							<div class="spimgs" style="padding-top: 100px;">
								<img src="/img/58a6ce76N8fe67edf.jpg">
								<img src="/img/57b15612N81dc489d.jpg">
								<img src="/img/57b15616N1e285f09.jpg">
								<img src="/img/57b15612N81dc489d.jpg">
							</div>
						</div>
						<div>
							<div class="Ptable">
		                        <div class="Ptable-item">
						            <h3>主体</h3>
						            <dl>
						                <dt>颜色</dt><dd>银色</dd>
							            <dt>平台</dt><dd>Intel</dd>
						            </dl>
						        </div>
					            <div class="Ptable-item">
					            	<h3>处理器</h3>
					            	<dl>
                                       <dt>三级缓存</dt><dd>3M</dd>
                                    </dl>
					          	</div>
                                <div class="Ptable-item">
						            <h3>内存</h3>
						            <dl>
                                   		 <dt>内存容量</dt><dd>8GB</dd>
                                	</dl>
          						</div>
                                <div class="Ptable-item">
						            <h3>显示器</h3>
						            <dl>
                                        <dt>屏幕规格</dt>
                                        <dd>13.3英寸</dd>
                                        <dt>显示比例</dt><dd>宽屏16：10</dd>
                                        <dt>物理分辨率</dt><dd>1440 x 900</dd>
                                        <dt>屏幕类型</dt><dd>LED背光</dd>
                                    </dl>
          						</div>
                                <div class="Ptable-item">
							            <h3>通信</h3>
							            <dl>
                          					<dt>内置蓝牙</dt><dd>蓝牙4.0</dd>
                                            <dt>局域网</dt><dd>其它</dd>
                                            <dt>无线局域网</dt><dd>有</dd>
                                      </dl>
          						</div>
                                <div class="Ptable-item">
							            <h3>端口</h3>
							            <dl>
                                      		<dt>音频端口</dt><dd>其它</dd>
                     	 	              	<dt>其他端口</dt><dd>Thunderbolt 2 端口 </dd>
                                            <dt>USB3.0</dt><dd>2个</dd>
                                      </dl>
          						</div>
                                <div class="Ptable-item">
							            <h3>音效系统</h3>
							            <dl>
                                            <dt>扬声器</dt><dd>内置扬声器</dd>
                                        	<dt>内置麦克风</dt><dd>有</dd>
                                      </dl>
 							    </div>
                                <div class="Ptable-item">
							            <h3>输入设备</h3>
							            <dl>
                                          	<dt>键盘</dt><dd>全尺寸键盘</dd>
                                            <dt>触摸板</dt><dd>有</dd>
                                      </dl>
         						</div>
                                <div class="Ptable-item">
							            <h3>其它设备</h3>
							            <dl>
	                                        <dt>网络摄像头</dt><dd>有</dd>
	                                        <dt>指纹识别</dt><dd>无</dd>
	                                      </dl>
          						</div>
                                <div class="Ptable-item">
							            <h3>电源</h3>
							            <dl>
                                          	<dt>电池</dt><dd>其它</dd>
                                            <dt>续航时间</dt><dd>其它</dd>
                                            <dt>电源适配器</dt><dd>其它</dd>
                                     	</dl>
								</div>
                                <div class="Ptable-item">
							            <h3>机器规格</h3>
							            <dl>
	                                        <dt>尺寸</dt><dd>227×325×3-17mm</dd>
	                                        <dt>净重</dt><dd>&lt;1.5kg</dd>
	                                  	</dl>
          						</div>
	                			<div class="package-list">
		                            <h3>包装清单</h3>
		                            <p>MacBook Air× 1、电源适配器× 1、交流电源插头× 1、电源线× 1</p>
		                        </div>
                			</div>
						</div>
						<div>
							<div class="m m-content guarantee" id="guarantee">
                      			<div class="mt">
			                       <h3>售后保障</h3>
			                    </div>
                                <div class="mc">
                					<div class="item-detail item-detail-copyright">
                                   		<div class="serve-agree-bd">
											<dl>
               									<dt>
										            <i class="goods"></i>
										            <strong>厂家服务</strong>
										        </dt>
										        <dd>
											        本产品全国联保，享受三包服务，质保期为：一年质保<br>
	                                                如因质量问题或故障，凭厂商维修中心或特约维修点的质量检测证明，享受7日内退货，15日内换货，15日以上在质保期内享受免费保修等三包服务！<br>
	                                                (注:如厂家在商品介绍中有售后保障的说明,则此商品按照厂家说明执行售后保障服务。)
	                                                                                    您可以查询本品牌在各地售后服务中心的联系方式，
	                                                <a target="_blank" href="http://www.apple.com.cn/">请点击这儿查询......</a>
	                                                <br><br>
	        										品牌官方网站：<a target="_blank" href="http://www.apple.com.cn/">http://www.apple.com.cn/</a><br> 
	                                    			售后服务电话：4006668800
                                    			</dd> 
												<dt>
										            <i class="goods"></i>
										            <strong>京东承诺</strong>
										        </dt>
												<dd>
                            						京东平台卖家销售并发货的商品，由平台卖家提供发票和相应的售后服务。请您放心购买！<br>
                                        			注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！
    											</dd> 
               								 	<dt>
										            <i class="goods"></i><strong>正品行货</strong>
										        </dt>
                       							<dd>
                       								京东商城向您保证所售商品均为正品行货，京东自营商品开具机打发票或电子发票。
                       							</dd>
                               					<dt><i class="unprofor"></i><strong>全国联保</strong></dt>
       											<dd>
            										凭质保证书及京东商城发票，可享受全国联保服务（奢侈品、钟表除外；奢侈品、钟表由京东联系保修，享受法定三包售后服务），与您亲临商场选购的商品享受相同的质量保证。京东商城还为您提供具有竞争力的商品价格和
            										<a href="//help.jd.com/help/question-892.html" target="_blank">运费政策</a>，请您放心购买！
           											<br><br>注：因厂家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！
        										</dd>
                            				</dl>
										</div>
                                  		<div id="state">
                            				<strong>权利声明：</strong><br>
                            				京东上的所有商品信息、客户评价、商品咨询、网友讨论等内容，是京东重要的经营资源，未经许可，禁止非法转载使用。
                            				<p><b>注：</b>本站商品信息均来自于合作方，其真实性、准确性和合法性由信息拥有者（合作方）负责。本站不提供任何保证，并不承担任何法律责任。</p>
                                            <br>
                        					<strong>价格说明：</strong><br>
                            				<p><b>京东价：</b>京东价为商品的销售价，是您最终决定是否购买商品的依据。</p>
                           					<p><b>划线价：</b>商品展示的划横线价格为参考价，该价格可能是品牌专柜标价、商品吊牌价或由品牌供应商提供的正品零售价（如厂商指导价、建议零售价等）或该商品在京东平台上曾经展示过的销售价；由于地区、时间的差异性和市场行情波动，品牌专柜标价、商品吊牌价等可能会与您购物时展示的不一致，该价格仅供您参考。</p>
                            				<p><b>折扣：</b>如无特殊说明，折扣指销售商在原价、或划线价（如品牌专柜标价、商品吊牌价、厂商指导价、厂商建议零售价）等某一价格基础上计算出的优惠比例或优惠金额；如有疑问，您可在购买前联系销售商进行咨询。</p>
                        					<p><b>异常问题：</b>商品促销信息以商品详情页“促销”栏中的信息为准；商品的具体售价以订单结算页价格为准；如您发现活动商品售价或促销信息有异常，建议购买前先联系销售商咨询。</p> 
                                            <br>
				                            <strong>能效标识说明：</strong><br>
				                            <p>根据国家相关能效标识法规和标准的要求，京东自营在售商品的能效标识图样，将会逐步替换为新版能源效率标识贴；受能效标识标准变化影响，部分产品的新版和旧版能效标识，在能效等级、测试值等方面会有差异，但产品实际性能完全一样，并不影响购买和使用，加贴新版或旧版能效标识的商品会随机发放，请您放心购买；如有疑问，请在购买前通过咚咚或来电咨询。</p>
                                        </div>
				                    </div>
				                </div>
                            </div>
						</div>
						<div>
							<div class="m m-content comment" id="comment">
						        <div class="mt">
				                    <h3>商品评价</h3>
	                            </div>
                                <div class="mc">
                        			<div class="comment-info J-comment-info">
                                        <div class="comment-percent">
	                                            <strong class="percent-tit">好评度</strong>
	                                            <div class="percent-con">97<span>%</span></div>	
	                                    </div>
		                                <div class="percent-info">
		                                    <div class="tag-list">
			                                    <span>外观漂亮(1464)</span>
			                                    <span>速度快(951)</span>
			                                    <span>性能不错(940)</span>
			                                    <span>性价比高(898)</span>
			                                    <span>东西不错(893)</span>
			                                    <span>开机速度(886)</span>
			                                    <span>配置不错(667)</span>
			                                    <span>硬件不错(629)</span>
			                                    <span>键盘不错(525)</span>
			                                    <span>散热很好(495)</span>
		                                    </div>
		                                </div>
		                            </div> 
	                            	<div class="J-comments-list comments-list ETab">
		                            	<div class="tab-main small">
				                            <ul class="filter-list"> 
				                                <li class="current filter-li"><a>全部评价<em>(10万+)</em></a></li> 
						                        <li class="filter-li"><a>好评<em>(9.8万+)</em></a></li>
				                                <li class="filter-li"><a>中评<em>(1100+)</em></a></li>
				                                <li class="filter-li"><a>差评<em>(1600+)</em></a></li> 
				                                <li class="comm-curr-sku"><span><input type="checkbox" id="comm-curr-sku"></span><label>只看当前商品评价</label></li>
				                            </ul>
			                            	<div class="extra">
				                            	<div class="sort-select J-sort-select">
				                                    <div class="current">
				                                        <span class="J-current-sortType">推荐排序</span><i></i>
				                                    </div> 
					                                <!-- 
						                                <div class="others">
				                                            <div class="curr"><span class="J-current-sortType">推荐排序</span><i></i></div>
				                    	                   	<ul>
				                                                <li class="J-sortType-item">推荐排序</li>
				                                                <li class="J-sortType-item">时间排序</li>
				              		                     	</ul>
				                                        </div>
			                                         -->
			                                    </div>
			                                </div>
		                           		</div>
		                    			<div class="tab-con" >
		                                	<div class="comment_div_pj" id='infolist'>  
				            	            </div> 
				            	            <div class="comment_div_pj infolist" id='infolist_1'>  
				            	            </div> 
				            	            <div class="comment_div_pj infolist" id='infolist_2'>  
				            	            </div> 
				            	            <div class="comment_div_pj infolist" id='infolist_3'>  
				            	            </div> 
				            	            <div class="com-table-footer">
		                                    	<div class="ui-page-wrap clearfix">
		                        		            <div class="ui-page">
		                        		            	<a rel="1" class="ui-page-curr" href="javascript:void(0)" data-current="true">1</a>
		                        		            	<a rel="2" href="#comment">2</a>
		                        		            	<a rel="3" href="#comment">3</a>
		                        		            	<a rel="4" href="#comment">4</a>
		                        		            	<a rel="5" href="#comment">5</a>
		                        		            	<a rel="6" href="#comment">6</a>
		                        		            	<span>...</span>
		                        		            	<a rel="10000" href="#comment">10000</a>
		                        		            	<a rel="2" class="ui-pager-next" href="#comment">下一页</a>
			                        		        </div>
			    		            	        </div>
			    		      	            </div>
				        	            </div>           
						            </div> 
						            <div class="m m-content consult" id="consult">
						                <div class="mt">
						                    <h3 class="fl">购买咨询</h3>
						                    <div class="extra">
						                        <div class="item">
						                            <a class="btn-primary">发表咨询</a>
						                        </div>
						                        <div class="item">
						                            <div class="J-jimi-btn"></div>
						                        </div>
						                        <div class="item">
						                            <div class="J-im-btn"><i class="sprite-im"></i>联系供应商</div>
					                            </div>
				                        	</div>
					                    </div>
					                </div>
					                <div class="mc">
					                    <div class="ETab consult">
					                        <div class="tab-main small">
					                            <ul>
					                                <li data-tab="trigger" class="current" clstag="shangpin|keycount|product|consult01">全部</li>
					                                <li data-tab="trigger" clstag="shangpin|keycount|product|consult02">商品咨询</li>
					                                <li data-tab="trigger" clstag="shangpin|keycount|product|consult03">库存配送</li>
					                                <li data-tab="trigger" clstag="shangpin|keycount|product|consult04">支付</li>
					                                <li data-tab="trigger" clstag="shangpin|keycount|product|consult05">发票保修</li> 
					                            </ul>
					                        </div>
					                        <div class="tab-con">
					                            <div class="search">
					                                <p>温馨提示：因每位咨询者购买情况、咨询时间等不同，以下回复对咨询者3天内有效，其他网友仅供参考。</p>
					                                <div class="search-from">
					                                    <input id="txbReferSearch" class="s-text" type="text" placeholder="输入关键词">
					                                    <button id="btnReferSearch" clstag="shangpin|keycount|product|consult09"><i></i>搜索</button>
					                                </div>
					                                <div data-tab="item" class="search-list">
						                                <ul>
						                                	<li>
						                                		<dl class="ask">
						                                			<dt>咨询内容：</dt>
						                                			<dd>
						                                				<a class="u-content">怎样激活</a>
						                                				<span class="u-name">（呀呵ws<span class="u-level"></span>）</span>
					                                				</dd>
					                                				<dd class="u-date">2016-10-07 03:17:16</dd>
					                            				</dl>
					                            				<dl class="answer">
					                            					<dt>京东回复：</dt>
					                            					<dd class="u-content">您好！激活是产品开机后进行初始化设置的过程，您可以致电苹果技术支持400-666-8800指导操作。感谢您对京东的支持！祝您购物愉快！</dd>
					                            					<dd class="u-date">2016-10-08 08:40:23</dd>
																</dl>
															</li>
														</ul>
														<div class="c-total">
															共有<em class="c-totaliNum">100</em>个咨询 <a>查看全部咨询 &gt;&gt;</a>
														</div>
													</div>
					                                <div data-tab="item" class="search-list hide"> 
					                            	</div>
						                        </div>
						                    </div>
						                </div>
						            </div>
					            </div>
				       		</div>
						</div>
						<div>
							<div class="m m-content club" id="club">
                				<div class="mt zdy_wh">
				                    <h3 class="fl">社区互动</h3>
				                    <div class="extra">
				                        <div class="item">
				                            <a class="btn-primary J-postforum">发表帖子</a>
				                        </div>
				                    </div>
				                </div>
               					<div class="mc">
				                    <div class="ETab club">
				                        <div class="tab-main small">
				                            <ul>
				                                <li data-tab="trigger" class="current">热门帖</li>
				                                <li data-tab="trigger">晒单帖</li>
				                            </ul>
				                        </div>
				                        <div class="tab-con">
				                            <div class="list-content hot-post">
				                            	<div class="ac">「暂无热门帖」</div>
				                            </div>  
				                        </div>
				                    </div>
				                </div>
				            </div>
						</div>
					</div>
				</div>  
			</div>
			<!--底部-->
			<div class='footer'>
				<div class='footer_div1'>
					<div> 
						<div>
							<div> 
									<i class='duo_i'></i>
									<p>品类齐全，轻松购物</p> 
							</div>
						</div>
						<div>
							<div> 
									<i class='kuai_i'></i>
									<p>多仓直发，极速配送</p> 
							</div>
						</div>
						<div>
							<div>  
									<i class='hao_i'></i>
									<p>正品行货，精致服务</p> 
							</div>
						</div>
						<div>
							<div> 
									<i class='sheng_i'></i>
									<p>天天低价，畅选无忧</p> 
							</div>
						</div>
					</div>
				</div>
				<div class='footer_div2'>
					<div class='footer_div2_2'>
						<div class='footer_div2_2_1'> 
							<h5>购物指南</h5>
							<a>购物流程</a>
							<a>会员介绍</a>
							<a>生活旅行</a>
							<a>常见问题</a>
							<a>大家电</a>
							<a>联系客服</a>
						</div> 
						<div class='footer_div2_2_1'> 
							<h5>配送方式</h5>
							<a>上门自提</a>
							<a>211限时达</a>
							<a>配送服务查询</a>
							<a>配送费收取标准</a>
							<a>海外配送</a> 
						</div>
						<div class='footer_div2_2_1'> 
							<h5>支付方式</h5>
							<a>货到付款</a>
							<a>在线支付</a>
							<a>生活旅行</a>
							<a>分期付款</a>
							<a>邮局汇款</a>
							<a>公司转账</a> 
						</div>
						<div class='footer_div2_2_1'> 
							<h5>售后服务</h5>
							<a>售后政策</a>
							<a>价格保护</a>
							<a>退款说明</a>
							<a>返修/退换货</a>
							<a>取消订单</a> 
						</div>  
						<div class='footer_div2_2_1'> 
							<h5>特色服务</h5>
							<a>夺宝岛</a>
							<a>DIY装机</a>
							<a>延保服务</a>
							<a>京东E卡</a>
							<a>京东通信</a> 
							<a>京东JD+</a> 
						</div> 
						<div class='footer_div2_2_1_666 '> 
							<h5>京东自营覆盖区县</h5> 
							<div>
								<p>京东已向全国2661个区县提供自营配送服务，支持货到付款、POS机刷卡和售后上门服务。</p>
								<p class='p_text_a_r'><a>查看详情<i class="ckxq_i">    ></i></a></p>
							</div>
						</div> 
					</div>
				</div>
				<div class='footer_div3'>
					<div class='footer_div3_1'>
						<p>
							<a>关于我们</a><span>|</span>
							<a>联系我们</a><span>|</span>
							<a>联系客服</a><span>|</span>
							<a>合作招商</a><span>|</span>
							<a>营销中心</a><span>|</span>
							<a>手机京东</a><span>|</span>
							<a>友情链接</a><span>|</span>
							<a>销售联盟</a><span>|</span>
							<a>京东社区</a><span>|</span>
							<a>风险监测</a><span>|</span>
							<a>隐私政策</a><span>|</span>
							<a>京东公益</a><span>|</span>
							<a>English Site</a><span>|</span>
							<a>Contact Us</a> 
						</p>  
						<div class='footer_div3_1_1'>
							<p>
								<a>京公网安备 11000002000088号</a><span>|</span>
								<a>京ICP证070359号</a><span>|</span>
								<a>互联网药品信息服务资格证编号(京)-经营性-2014-0008</a><span>|</span> 
								<a>新出发京零 字第大120007号</a>
							</p>
							<p>
								<a>互联网出版许可证编号新出网证(京)字150号</a><span>|</span>
								<a>出版物经营许可证</a><span>|</span>
								<a>网络文化经营许可证京网文[2014]2148-348号</a><span>|</span> 
								<a>违法和不良信息举报电话：4006561155</a>
							</p> 
							<p>
								<a>Copyright © 2004 - 2017  京东JD.com 版权所有</a><span>|</span>
								<a>消费者维权热线：4006067733经营证照</a>
							</p> 
							<p>
								<a>京东旗下网站：京东钱包</a><span>|</span>
								<a>京东云</a>
							</p> 
						</div>  
						<p class="dibu_p">
							<a class="jyx_a" href="#">经营性网站备案中心</a>
							<a class="kxw_a" href="#">可信网站信用评估</a>
							<a class="wlj_a" href="#">网络警察提醒你</a>
							<a class="cxw_a" href="#">诚信网站</a>
							<a class="zgw_a" href="#">中国互联网举报中心</a>
							<a class="wljb_a" href="#">网络举报APP下载</a>
						</p> 
					</div>
				</div>
			</div> 
			<!-- 右侧菜单 -->
			<div id='yc_cd' class='J-shoping J-shoping-small'>
				<div class='yc_cd_xiang'>
					<div class='yc_cd_xiang_1' id="log">
						<i class="tab-tip" id='hy_sl_2' ></i>
						<em class="tab-text">京东会员</em>
						<i class="tab-ico" id='hy_xtp'></i>
					</div>
					<div class='yc_cd_xiang_1 yc_cd_xiang_1_gwc J-shoping-item'>
						<a href="./shopping.html"> 
							<em class="tab-text">购物车</em>
							<i class="tab-ico" id='gwc_xtp'></i> 
							<span class="tab-sub baseBg J-shoping-num" id='gwc_sl_2'>2</span> 
						</a>
					</div>
					<div class='yc_cd_xiang_1 yc_cd_xiang_1_xx'>
						<em class="tab-text">我的关注</em>
						<i class="tab-ico"></i>
					</div>
					<div class='yc_cd_xiang_1 yc_cd_xiang_1_zj'>
						<em class="tab-text">我的足迹</em>
						<i class="tab-ico"></i>
					</div>
					<div class='yc_cd_xiang_1 yc_cd_xiang_1_wdxx'>
						<em class="tab-text">我的消息</em>
						<i class="tab-ico"></i>
					</div>
					<div class='yc_cd_xiang_1 yc_cd_xiang_1_zx'>
						<em class="tab-text">咨询JIMI</em>
						<i class="tab-ico"></i>
					</div>
				</div>
				<div class="yc_cd_xiang_2 yc_cd_xiang"> 
					<div class='yc_cd_xiang_1 yc_cd_xiang_1_db' id='fhdb_yc'>
						<em class="tab-text">顶部</em>
						<i class="tab-ico"></i>
					</div>
					<div class='yc_cd_xiang_1 yc_cd_xiang_1_fk'>
						<em class="tab-text">反馈</em>
						<i class="tab-ico"></i>
					</div>
				</div>
				<div></div>
			</div>
		</div>	 
		<!-- 遮罩层————登录 --> 
		<div id="login">
			<div class="login_div_1">  
				<span>您尚未登录</span>
			</div>
			<div class="login_div_2"> 
				<div class="login_div_2_div1">  
					<div class="login_div_2_span"><a>扫码登录</a></div>
					<div class="login_div_2_span login_div_2_span_2"><a>账户登录</a></div>   
				</div>
			</div>
			<a id="close"></a>
		</div>
		<div id="bg"></div>
	</body> 
	<script> 
		$(function(){
		   $('.Q-buy-btn').shoping(); //调用shoping函数
		})
	</script>
</html>